<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q2</title>
</head>
<body>
       <h2>Express Login application with file session store.</h2>    
       <form method="post" action="/login">
        Enter Username : <input type="text" name="username"  required/><br><br>
        Enter Password : <input type="password" name="password"  required/><br><br>
        <button type="submit">Login</button>
    </form>
    <% if(error){%> <p style="color:red"><%=error%></p><%}%>
</body>
</html>