<h1>Welcome User</h1>
<h2>Products</h2>
<table border="1" cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Action</th>
    </tr>
    <% products.forEach(p => { %>
        <tr>
            <td><%= p.name %></td>
            <td>$<%= p.price %></td>
            <td><%= p.stock %></td>
            <td><a href="/add-to-cart/<%= p._id %>">Add to Cart</a></td>
        </tr>
    <% }) %>
</table>
<a href="/cart">View Cart</a>
